body {
  margin: 0;
  font-family: system-ui;
  background: #f5f6fa;
}

.container {
  padding: 16px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.green {
  background: #00c853;
  color: white;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.subtitle {
  color: #777;
  margin-bottom: 10px;
}